<?xml version="1.0" encoding="UTF-8"?>
<!--scan:当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true。-->
<!--scanPeriod:设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。-->
<!--debug:当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。-->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <springProperty scope="context" name="appname" source="spring.application.name"/>
    <springProperty scope="context" name="logdir" source="logback.path"/>
    <contextName>${appname}</contextName>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>
    <logger name="com.github.pagehelper" level="DEBUG"/>
    <logger name="java.sql" level="DEBUG"/>
    <logger name="com.sensetime.oa" level="DEBUG"/>
    <logger name="org.apache.zookeeper.ClientCnxn" level="DEBUG"/>
    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="com.alibaba.fastjson" level="DEBUG"/>
    <logger name="com.sun.xml.messaging.saaj.soap" level="DEBUG"/>
    <logger name="org.springframework.ws" level="DEBUG"/>
    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logdir}/${appname}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rolling over -->
            <FileNamePattern>${logdir}/${appname}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!-- keep 30 days' log history -->
            <maxHistory>3</maxHistory>
            <maxFileSize>5MB</maxFileSize>
        </rollingPolicy>
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>-->
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="dailyRollingFileAppender"/>
    </root>

</configuration>